# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments & dependencies
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
egss/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
nosetests.xml
*.cover
*.py,cover
.hypothesis/
hypothesis.json

# Type checker / static analysis
.mypy_cache/
.pyre/

# Environment variables
.env
.env.*
*.env

# Logs & runtime outputs
logs/
*.log
uploads/
results/

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Project-specific folders
Tickets/

# Local Testing file
testing_main.py
token.json
client_secret.json
.vercel
