google-genai 
Pillow
fastapi[standard]
python-dotenv
openai
pytest
pytest-asyncio
pytest-cov
pytest-html
pytest-xdist
httpx
uvicorn
gunicorn
python-multipart
# Google Drive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib